@use "sass:color";
@import "_theme";

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 90%;

    background-color: $background;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: $font-color;
    text-rendering: optimizeLegibility;
    hyphens: auto;
    counter-reset: sidenote-counter;
}

%header-style {
    hyphens: none;
}

%big-header-style {
    @extend %header-style;
    color: $highlight;

    font-weight: 500;
    font-family: 'Bebas Neue';
    font-size: 36px;

    line-height: 1.25;
}

h1 {
    @extend %big-header-style;
    margin-bottom: 0.4em;
}

h2 {
    @extend %big-header-style;
    margin-bottom: 0.2em;
}

h3 {
    @extend %header-style;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0.5em;
    padding-bottom: 0.3em;
}

/* Subsubheadings are a crutch. Don't use them. */
h4,
h5,
h6 {
    color: red;
}

hr {
    width: 10rem;
    border: 0;
    height: 1px;
    background: #aaa;
    text-align: left;
    margin-left: 0
}

p {
    text-align: left;
    margin-bottom: 0.5em;
}

blockquote {
    background-color: color.scale($highlight, $alpha: -94%);
    border-left: 5px solid $highlight;
    padding: 10px;
    margin: 10px 0;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: $muted;
}

// Utility Classes
.highlight {
    color: $highlight;
}

/* Grid Container */
.container {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

/* Main Section */
.main-section {
    grid-column: 1 / span 1;
    padding-right: 20px;

    // h2 are used to separate sections
    h2 {
        padding-top: 0.7em;
    }
}

/* News Section */
.news-section {
    grid-column: 2 / span 1;
    padding-top: 0;
}


/* Top Title Bar */
.hero {
    padding: 10px 0;
    font-weight: 900;

    display: grid;
    grid-template-columns: 85px auto;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;

    .logo {
        grid-column: 1 / span 1;
        width: 100px;
        height: 120px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        margin-top: 0.4em;
        grid-column: 2 / span auto;
        font-size: 2rem;
        margin-left: 10px;
    }

    h1 {
        font-size: 72px;
        font-family: 'Bebas Neue';
        color: #626a73;
    }
}


.hero h1,
.hero h3,
.news-section h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
}

// Date styling
.date {
    font-weight: 300;
    text-align: left;
    color: $muted;
}

.blurb {
    margin-bottom: 0.8em;
    display: flex;
    flex-flow: row wrap;
}

.blurb>.date {
    vertical-align: top;
    flex: 1 100%;
}

.blurb>.description {
    vertical-align: top;
    margin-left: 1em;
    flex: 1 1;
}

.blurb>.description>.title {
    vertical-align: top;
}

.blurb p {
    display: inline;
}

a {
    color: $font-color;
    text-decoration: none;
    border-bottom: $highlight 0.15em solid;
}

a:hover,
a:focus {
    background: #fbf3f3;
    transition-property: background;
    transition-duration: 0.2s;
}

.publication {
    margin-bottom: 0.5em;

    .publication-title {
        font-weight: 600;
        font-size: 1.1em;
    }

    .publication-venue {
        font-weight: 600;
    }

    a {
        border-bottom: none;
    }
}

/* Responsive Layout */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .news-section {
        grid-column: 1 / span 1;
    }
}