@use "sass:color";
@import "_theme";

$hero-size: 72px;

$h1-size: 48px;
$h1-weight: 500;

$h2-size: 36px;
$h2-weight: 500;

$h3-size: 20px;
$h3-weight: 600;

$body-size: 16px;
$body-lh: 1.55;
$body-weight: 400;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 90%;

    background-color: $background;
    font-family: 'Open Sans', sans-serif;
    font-weight: $body-weight;
    font-size: $body-size;
    line-height: $body-lh;
    color: $font-color;
    text-rendering: optimizeLegibility;
    hyphens: auto;
    counter-reset: sidenote-counter;
}

%header-style {
    hyphens: none;
}

%big-header-style {
    @extend %header-style;
    color: $highlight;
    font-family: 'Bebas Neue';
    line-height: 1;
}

h1 {
    @extend %big-header-style;
    font-size: $h1-size;
    font-weight: $h1-weight;
    margin-bottom: 0.3em;
}

h2 {
    @extend %big-header-style;
    font-size: $h2-size;
    font-weight: $h2-weight;
    margin: 0.2em 0;
}

h3 {
    @extend %header-style;
    font-size: $h3-size;
    font-weight: $h3-weight;

    line-height: 1.5;
    margin-top: 0.5em;
    padding-bottom: 0.3em;
}

/* Subsubheadings are a crutch. Don't use them. */
h4,
h5,
h6 {
    color: red;
}

h1 a,
h2 a,
h3 a {
    border-bottom: none;
}

h1:target,
h2:target,
h3:target {

    // Change the color of the heading when it is a target
    a {
        color: $highlight;
    }

    // If the heading is a target, add >> before it
    ::before {
        content: "»";
        display: inline-block;
        margin-inline-start: -20px;
        width: 20px;
        color: $highlight;
    }
}

// Body elements

hr {
    width: 10rem;
    border: 0;
    height: 1px;
    background: #aaa;
    text-align: left;
    margin-left: 0
}

p {
    text-align: left;
    color: inherit;
    margin-top: 0.5em;
}

ol,
ul {
    list-style-position: outside;
    padding-left: 1em;
}

li {
    color: inhert;
}

blockquote {
    background-color: color.scale($highlight, $alpha: -94%);
    border-left: 5px solid $highlight;
    padding: 10px;
    margin: 10px 0;

    p {
        margin: 0;
    }
}

/* Footer */
footer {
    grid-column: 1 / span 2;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: $muted;
}

// Utility Classes
.highlight {
    color: $highlight;
}

.muted {
    color: $muted;
}

/* Grid Container */
.container {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

/* Main Section */
.main-section {
    grid-column: 1 / span 1;
    padding-right: 20px;

    // h2 are used to separate sections
    h2 {
        padding-top: 0.7em;
    }
}

/* News Section */
.side-section {
    grid-column: 2 / span 1;
    padding-top: 0;
}


/* Top Title Bar */
.hero {
    padding: 10px 0;

    display: grid;
    grid-template-columns: 85px auto;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;

    .logo {
        grid-column: 1 / span 1;
        width: 100px;
        height: 120px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        margin-top: 0.4em;
        grid-column: 2 / span auto;
        font-size: 2rem;
        margin-left: 10px;
    }

    h1 {
        font-size: $hero-size;
        font-family: 'Bebas Neue';
        color: $hero-color;
    }

    // Remove hover styling from the title
    .title a {
        color: inherit;
        text-decoration: none;
    }
}


.hero h1,
.hero h3 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
}

// Date styling
.date {
    font-weight: 300;
    text-align: left;
    color: $muted;
}

.blurb {
    margin-bottom: 0.8em;
    display: flex;
    flex-flow: row wrap;
}

.blurb>.date {
    vertical-align: top;
    flex: 1 100%;
}

.blurb>.description {
    vertical-align: top;
    margin-left: 1em;
    flex: 1 1;
}

.blurb>.description>.title {
    vertical-align: top;
}

.blurb p {
    display: inline;
}

a {
    color: $highlight;
    text-decoration: none;
}

%hover-transition {
    color: $secondary;
    transition: color 0.15s;
}

a:hover,
a:focus {
    @extend %hover-transition;
}

.publication {
    margin-bottom: 0.5em;

    .publication-title {
        font-weight: 600;
        font-size: 1.1em;
    }

    .publication-venue {
        font-weight: 600;
    }

    a {
        border-bottom: none;
    }
}

/* Responsive Layout */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .side-section {
        grid-column: 1 / span 1;
    }

}

// Hide the logo if the screen is too small
@media (max-width: 550px) {
    .hero {
        grid-template-columns: auto;

        .title {
            margin-left: 0;
        }

        .logo {
            width: 0px;
            height: 0px;
        }
    }
}