<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Rachit Nigam">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.dont_index %}
  <meta name="robots" content="noindex,nofollow">
  {% endif %}
  <meta name="robots" content="noindex,nofollow">
  {% if page.title %}
  <title> {{ page.title }} |  FLAME Lab @ MIT </title>
  {% else %}
  <title>FLAME Lab @ MIT</title>
  {% endif %}

  <link rel="icon" href="/flame-logo.ico">

  <link rel="stylesheet" href={{ get_url(path="default.css") }}>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.1/css/academicons.min.css" integrity="sha512-b1ASx0WHgVFL5ZQhTgiPWX+68KjS38Jk87jg7pe+qC7q9YkEtFq0z7xCglv7qGIs/68d3mAp+StfC8WKC5SSAg==" crossorigin="anonymous"/>

  <!-- Load Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="post/atom.xml", trailing_slash=false) }}">
  {% endblock %}

</head>

<body>
<div class="nav">
<!-- Hero -->
<div class="hero">
  <div class="logo" style="background-image: url('/img/flame-logo.png');"></div>
  <div class="title">
    <a href="/">
      <h1><span class="highlight">FLAME</span> Lab @&nbsp;MIT</h1>
      <h3 class="subtitle">Foundations of Languages and Machines</h3>
    </a>
  </div>
</div>
<div class="links">
  <a href="https://github.com/mit-flame" target="_blank"><i class="fab fa-github"></i>&nbsp;Github</a><br/>
  <a href="/lab"><i class="fad fa-flask"></i>&nbsp;Lab</a><br/>
  <a href="/#projects"><i class="fad fa-hammer"></i>&nbsp;Projects</a><br/>
<a href="/#publications"><i class="fad fa-scroll"></i>&nbsp;Publications</a><br/>
</div>
</div>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<footer>
  &copy;&nbsp;2024 Rachit Nigam &middot; Built using <a href="https://www.getzola.org/">Zola</a>
</footer>
</body>

</html>