{# Heading with anchor link #}
{% component flame.anchor_heading(content: string, size = "2") %}
<h{{size}} id="{{ content | slugify }}">
  {{ content }}
</h{{size}}>
{% endcomponent flame.anchor_heading %}

{# Styling for News items #}
{% component flame.news(post: map) %}
<div class="blurb">
  <div class="date">{{ post.date | date(format="%b ’%y") }}</div>
  <div class="description">
    {{ post.content | safe }}
  </div>
</div>
{% endcomponent flame.news %}

{# Styling for a publication item #}
{% component flame.publication(pub: map) %}
<div class="publication">
  <span class="title">
    {% if pub.extra?.pdf %}
    <a href={{ pub.extra.pdf }}>
      {% endif %}
      {{ pub.title | safe }}
      {% if pub.extra?.pdf %}
    </a>
    {% endif %}
  </span>
  <span class="venue">
    &bull;
    {% if not pub.extra?.publication_short %}
    <i>Draft</i>
    {% else %}
    {{- pub.extra.publication_short -}}&nbsp;{{ pub.date | date(format="’%y") }}
    {% endif %}
  </span>
  <div class="authors">
    {% for name in pub.extra?.authors or [] %}
    {{ name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
  <!-- Award -->
  {% if pub.extra?.award %}
  <div class="award">
    <i class="fa fa-trophy"></i>
    <b>{{ pub.extra.award }}</b>
  </div>
  {% endif %}
</div>
{% endcomponent flame.publication %}

{% component flame.person(info: map) %}
<div class="person">
  {% if info?.img %}
  <img src="img/{{info.img}}" height="100px"/>
  {% else %}
  <img class="dummy" src="img/flame-logo.png" height="100px"/>
  {% endif %}

  <div class="name">
    <b>
    {% if info?.link %}
    <a href="{{ info.link }}">{{ info.name }}</a>
    {% else %}
    {{ info.name }}
    {% endif %}
    </b>
  </div>
  <div class="role">{{ info.role  }}</div>
</div>
{% endcomponent flame.person %}

{% component flame.alum(info: map) %}
<div class="alum">
  {% set degree = "M.Eng." if info.role == "MEng" else info.role %}
  <b>{{ info.name }}</b>
  <span class="alumni-year">({{ degree }} {{ info.grad_year }})</span>{% if info?.thesis %}: {% if info?.thesis_pdf %}<a href="{{ get_url(path='files/' ~ info.thesis_pdf) }}">{{ info.thesis }}</a>{% else %}{{ info.thesis }}{% endif %}{% endif %}.
    Now at <i>{{ info.where }}</i>.
</div>
{% endcomponent flame.alum %}
