{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
<!-- About  -->
<div class="main-section">
  <div class="bio">
    {% set page = get_page(path="about.md") %}
    {{ page.content | safe }}
  </div>
</div>

<div class="news-section">
<h2 class="highlight">News</h2>
{% set news = get_section(path="news/_index.md") %}
{% set items = 5 %}
{% for post in news.pages | sort(attribute="date") | reverse | slice(end=items) %}
{{ m::generate_news(post=post) }}
{% endfor %}
<div class="more">
    <a href="/news">
    All News
    <i class="fa fa-angle-double-right"></i>
    </a>
</div>
</div>
{% endblock content %}