{# Heading with anchor link #}
{% macro anchor_heading(content, size="2") %}
<h{{size}} id="{{ content | slugify }}">
  {{ content }}
</h{{size}}>
{% endmacro anchor_heading %}

{# Styling for Posts #}
{% macro generate_post(post) %}
<div class="blurb">
  <div class="date">{{ post.date | date(format="%b ’%y") }}</div>
  <div class="description">
    {% if post.extra.external %}
    <a href="{{ post.extra.external | safe }}">
      {% else %}
      <a href="{{ post.permalink | safe }}">
        {% endif %}
        {{ post.title | safe }}
      </a><br />
      <div class="post-tease">
        {{ post.extra.summary }}
      </div>
  </div>
</div>
{% endmacro post %}

{# Styling for News items #}
{% macro generate_news(post) %}
<div class="blurb">
  <div class="date">{{ post.date | date(format="%b ’%y") }}</div>
  <div class="description">
    {{ post.content | safe }}
  </div>
</div>
{% endmacro post %}

{# Styling for a publication item #}
{% macro publication(pub) %}
<div class="publication">
  <span class="title">
    {% if pub.extra.pdf %}
    <a href={{ pub.extra.pdf }}>
      {% endif %}
      {{ pub.title | safe }}
      {% if pub.extra.pdf %}
    </a>
    {% endif %}
  </span>
  <span class="venue">
    &bull;
    {% if not pub.extra.publication_short %}
    <i>Draft</i>
    {% else %}
    {{- pub.extra.publication_short -}}&nbsp;{{ pub.date | date(format="’%y") }}
    {% endif %}
  </span>
  <div class="authors">
    {% for name in pub.extra.authors %}
    {{ name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
  <!-- Award -->
  {% if pub.extra.award %}
  <div class="award">
    <i class="fa fa-trophy"></i>
    <b>{{ pub.extra.award }}</b>
  </div>
  {% endif %}
</div>
{% endmacro publication %}

{% macro person(name, info) %}
<div class="person">
  {% if info.img %}
  <img src="img/{{info.img}}" height="100px"/>
  {% else %}
  <img class="dummy" src="img/flame-logo.png" height="100px"/>
  {% endif %}

  <div class="name">
    <b>
    {% if info.link %}
    <a href="{{ info.link }}"}>{{ name }}</a>
    {% else %}
    {{ name }}
    {% endif %}
    </b>
  </div>
  <!-- <div class="role">{{ info.role  }}</div> -->
</div>
{% endmacro person %}
